<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/home" class="navbar-brand" style="color:white;">Quick work</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a (click)="openCreateAdModal()" class="btn btn-info" *ngIf="isLoggedIn" class="nav-link">Create new ad </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a (click)="openRegisterModal()" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a (click)="openLoginModal()" class="nav-link">Log in</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle show"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>{{username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow show" aria-labelledby="dropdownUser" style=""
            data-popper-placement="top-start">
          <li><a href="/adMessages" class="dropdown-item">Messages</a></li>
          <li><a href="/profile" class="dropdown-item">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a href="/" class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </ul>
  </nav>
  <body class="d-flex flex-column min-vh-100">

    <router-outlet></router-outlet>
  </body>

  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(1,1,1,1);">
      © 2021 Copyright:
      <a class="text-white" href="#">Quick Work</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>



