#app {
  background-color: #53a4f0;
}
.card-text {
  margin-left: 20px;
}

.card-subtitle {
  margin-left: 20px;
}

.card-link {
  margin-left: 20px;
}

.card-title {
  margin-top: 5px;
  margin-left: 20px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  margin-top: 5px;
}

.btn-dark {
  text-decoration-color: white;
}
